<ul class="list-group rounded">
  <li class="list-group-item active">
    <h2 style="color: #0069d9;">&nbsp;&nbsp;&nbsp; Job Listings ({{jobs.length}})</h2></li>

  <br>
  <hr/>
  <br>

  <!--<li [ngClass]="{'active': module.id == moduleId}" *ngFor="let module of modules"&ndash;&gt;-->
  <li class="list-group-item joblist">
    Job Title
    <!--<a routerLink="/course/{{courseId}}/module/{{module.id}}">-->
      <!--{{module.title}}</a>-->
  </li>

  <li> Job Title 2 </li>
  <li> Job Title 3 </li>
  <li> Job Title 4 </li>
  <li> Job Title 5 </li>
  <li> Job Title 6 </li>
  <li> Job Title 7 </li>
  <li> Job Title 8 </li>
  <li> Job Title 9 </li>
  <li> Job Title 10 </li>
  <li> Job Title 11 </li>
  <li> Job Title 12 </li>
  <li> Job Title 13 </li>
  <li> Job Title 14 </li>
  <li> Job Title 15 </li>
  <li> Job Title 16 </li>
  <li> Job Title 17 </li>




  <!--Add pagination on list, fetch more on scroll -->

</ul>
