<ul class="list-group rounded">
  <li class="list-group-item active">
    <h2 style="color: #0069d9;">&nbsp;&nbsp;&nbsp; Job Listings ({{jobs.length}})</h2></li>

  <br>
  <hr/>
  <br>

  <!--<li [ngClass]="{'active': module.id == moduleId}" *ngFor="let module of modules"&ndash;&gt;-->
  <li class="list-group-item joblist">

  </li>

  <h2>Job Grid ({{jobs.length}})</h2>

  <div class="row">
    <div *ngFor="let job of jobs" class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{job.title}}</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <!--<a routerLink="/course/{{job.id}}"-->
             <!--class="btn btn-primary">Go somewhere</a>-->
        </div>
      </div>
    </div>
  </div>




  <!--Add pagination on list, fetch more on scroll -->

</ul>
