<div class="card rounded shadow my-3">
  <div class="card-header">
    <button class="btn btn-outline-primary rounded float-right"><i class="fas fa-plus"></i></button>
    <h3> Extra Curricular </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <i class="float-right btn btn-light fas fa-angle-down"></i>
      Martial Arts
    </li>
    <li class="list-group-item">
      <i class="float-right btn btn-light fas fa-angle-down"></i>
      Rock Climbing
    </li>
  </ul>
</div>
