


<!--<div class="mainContainer pb-5">-->
  <!--<div class="h-25"></div>-->
  <!--<div class="bg-white bounceOutRight border container  p-5">-->
     <!--<div class="row">-->
    <!--<div class="col-sm-2 ">-->
      <!--<img class="mt-3" src="./../../../assets/images/paul-hanaoka-299941-unsplash.jpg" width="120px" height="140px"/>-->
    <!--</div>-->
    <!--<div class="col-sm-10">-->
      <!--<i class="fa fa-2x fa-pencil float-right" ></i>-->
      <!--<h1 class="p-0">Software Engineer</h1>-->

      <!--<h3 class="text-muted" >JP Morgan</h3>-->
      <!--<small>Posted 2  days ago : 33 views</small> <br>-->
      <!--<div class="d-inline-block mt-3">-->
        <!--<button class="btn btn-outline-primary mr-3">Save</button>-->
        <!--<button class="btn btn-primary">Apply</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="bg-white bounceOutRight border container mt-4 p-5 mb-4">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-8">-->
        <!--<h2>Job Description</h2>-->
        <!--<p class="text-left"> Lorem Ipsum L Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum-->
          <!--orem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum-->
          <!--Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum-->
          <!--Lorem Ipsum Lorem Ipsum</p>-->
        <!--<br>-->
        <!--<br>-->
        <!--<h4 >Key Responsibilty</h4>-->
        <!--<ul class="mt-4">-->
          <!--<li>-->
            <!--<p>Lorem ipsun Lorem ipsunLorem ipsunLorem ipsunLorem ipsun</p>-->
          <!--</li>-->
          <!--<li>-->
            <!--<p>Lorem ipsun Lorem ipsunLorem ipsunLorem ipsunLorem ipsun</p>-->
          <!--</li>-->
          <!--<li>-->
            <!--<p>Lorem ipsun Lorem ipsunLorem ipsunLorem ipsunLorem ipsun</p>-->
          <!--</li>-->
          <!--<li>-->
            <!--<p>Lorem ipsun Lorem ipsunLorem ipsunLorem ipsunLorem ipsun</p>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<br>-->
        <!--<br>-->
        <!--<h4 >Requirements</h4>-->
        <!--<ul class="mt-4">-->
          <!--<li>-->
            <!--<p>Lorem ipsun Lorem ipsunLorem ipsunLorem ipsunLorem ipsun</p>-->
          <!--</li>-->
          <!--<li>-->
            <!--<p>Lorem ipsun Lorem ipsunLorem ipsunLorem ipsunLorem ipsun</p>-->
          <!--</li>-->
          <!--<li>-->
            <!--<p>Lorem ipsun Lorem ipsunLorem ipsunLorem ipsunLorem ipsun</p>-->
          <!--</li>-->
          <!--<li>-->
            <!--<p>Lorem ipsun Lorem ipsunLorem ipsunLorem ipsunLorem ipsun</p>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<div class="col-sm-4 pr-3">-->
        <!--<i class="fa fa-2x fa-pencil float-right"></i>-->
         <!--<h5 class="mt-3">Seniority Level</h5>-->
          <!--<h6 class="text-muted">Mid-Senior Level</h6>-->
         <!--<h5 class="mt-3">Industry</h5>-->
        <!--<h6 class="text-muted">Banking</h6>-->
        <!--<h5 class="mt-3">Employment Type</h5>-->
        <!--<h6 class="text-muted">Banking</h6>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


<!--</div>-->
