<div class="container-fluid">
  <div class="row">
    <!--<div class="mt-3 ml-4">-->
      <app-user-sidebar></app-user-sidebar>
    <!--</div>-->
    <div class="col bg-light">
      <!--<h2  class="text text-center" style="color: dimgrey;"> User Profile</h2>-->
      <div class=" ml-4 mt-0 mb-5">
        <ul class="list-group border-0 mb-2">
          <li class="list-group-item border-0 ">
            <app-personal-info></app-personal-info>
          </li>
          <li class="list-group-item border-0 ">
            <app-experience-list></app-experience-list>
          </li>
          <li class="list-group-item border-0 mb-4">
            <app-education-list></app-education-list>
          </li>
          <!--<li class="list-group-item border-0 ">-->
            <!--<app-skill-list></app-skill-list>-->
          <!--</li>-->
          <!--<li class="list-group-item border-0 mb-4">-->
            <!--<app-project-list></app-project-list>-->
          <!--</li>-->
          <!--<li class="list-group-item border-0 ">-->
            <!--<app-award-list></app-award-list>-->
          <!--</li>-->
          <!--<li class="list-group-item border-0 ">-->
            <!--<app-certificate-list></app-certificate-list>-->
          <!--</li>-->
          <!--<li class="list-group-item border-0 mb-5">-->
            <!--<app-extra-curricular-list></app-extra-curricular-list>-->
          <!--</li>-->
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

