<div class="card rounded shadow" [hidden]=addMode>
  <div class="card-header">
    <button class="btn btn-outline-primary rounded float-right"
            (click)="add()"
            [disabled]=addMode><i class="fas fa-plus"></i></button>
    <h3> Experience </h3>
  </div>
  <ul class="list-group">

    <li class="list-group-item" *ngFor="let experience of experiences">
      <i class="float-right btn btn-light fas fa-angle-down"
         (click)="edit(experience, experience._id)"></i>

      <span style="font-size: 28px; font-weight: bold; color:black;"> {{experience.title}} </span> <br/>
      <span style="font-size: 22px; font-weight: normal; color:black;"> {{experience.company}} </span> <br/>
      <span style="font-size: 22px; font-weight: normal; color:black;"> {{experience.location}} </span> <br/>
      <div [ngSwitch]="experience.ongoingStatus">
        <span style="font-size: 20px; font-weight: normal; color:gray;" *ngSwitchCase="'true'">
        {{experience.startDate.month}} {{experience.startDate.year}}&nbsp;&nbsp;-&nbsp;&nbsp;Present
      </span>
        <span style="font-size: 20px; font-weight: normal; color:gray;" *ngSwitchCase="'false'">
        {{experience.startDate.month}} {{experience.startDate.year}} &nbsp;&nbsp;-&nbsp;&nbsp;{{experience.endDate.month}} {{experience.endDate.year}}
      </span>
      </div>
      <p class="border-top pt-1 mt-1" style="white-space: pre-line; font-size: 22px; border-top-color: #5a6268">
        {{experience.description}}
      </p>

      <div [hidden]="!getEditMode(experience._id)" class="mt-1 border-top pt-2" style="border-top-color: darkgray;">
        <i class="float-right btn btn-outline-danger far fa-trash-alt py-2 px-2"
           (click)="delete(experience._id)"></i>
        <h4>Update Experience</h4>
        <form>
          <div class="form-group row mx-2 mt-2">

            <!--Title-->

            <label for="title2" class="text-center col-form-label">
              Title </label>
            <input [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="title"
                   id="title2"
                   class="form-control"
                   placeholder="E.g. Software Engineering Intern">

            <!--Company-->

            <label for="company2" class="text-center col-form-label">
              Company </label>
            <input [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="company"
                   id="company2"
                   class="form-control"
                   placeholder="E.g. Google">

            <!--Location-->

            <label for="location2" class="text-center col-form-label">
              Location </label>
            <input [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="location"
                   id="location2"
                   class="form-control"
                   placeholder="Location">

          </div>

          <!--Dates-->

          <div class="form-group row mt-2">
            <div class="col">
              <label class="text-center col-form-label">
                From </label>
              <select class="form-control"
                      [(ngModel)]="startMonth" name="startMonth">
                <option *ngFor="let month of months" [ngValue]="month"
                        [disabled]="disableMonth(month)">{{month}}</option>
              </select>
              <select class="form-control mt-3" name="startYear"
                      [(ngModel)]="startYear">
                <option *ngFor="let year of years" [ngValue]="year"
                        [disabled]="disableYear(year)">{{year}}</option>
              </select>
            </div>

            <div class="col">
              <label class="text-center col-form-label">
                To </label>
              <span [hidden]=ongoingStatus> <br/> Present </span>
              <select class="form-control" [hidden]=!ongoingStatus [(ngModel)]="endMonth" name="endMonth">
                <option *ngFor="let month of months" [ngValue]="month"
                        [disabled]="disableMonth(month)">{{month}}</option>
              </select>
              <select class="form-control mt-3" [hidden]=!ongoingStatus
                      [(ngModel)]="endYear" name="endYear">
                <option *ngFor="let year of years" [ngValue]="year"
                        [disabled]="disableYear(year)">{{year}}</option>
              </select>
            </div>
          </div>

          <form #form="ngForm">
            <div class="custom-control custom-checkbox form-group row mx-2 mb-1">
              <input type="checkbox" class="custom-control-input" [attr.id]=" '#'+ experience._id"
              [checked]="!ongoingStatus" (change)="checkUpdateStatus()"
                     name="ongoingStatus">
              <label class="custom-control-label" [attr.for]=" '#'+ experience._id">I presently work here.</label>
            </div>
          </form>


          <!--Description-->

          <div class="form-group row mx-2">
            <label for="desc2" class="text-center col-form-label">
              Description </label>
            <textarea [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="description"
                      id="desc2"
                      class="form-control"
                      rows="4"
                      placeholder="">
        </textarea>

            <button class="btn btn-block mt-2"
                    style="color: white; background-color: green"
                    (click)="update()">
              Update Experience
            </button>
            <button class="btn btn-secondary btn-block mt-2"
                    (click)="cancelEdit();
                     form.reset();">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </li>
  </ul>
</div>


<!--Add Experience-->

<div class="card rounded shadow" [hidden]="!addMode">
  <div class="card-header">
    <button class="btn btn-outline-primary rounded float-right"
            (click)="add()"
            [disabled]=addMode><i class="fas fa-plus"></i></button>
    <h3> Experience </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <!--<i class="float-right btn btn-light fas fa-angle-down"></i>-->

      <h4>Add new Experience</h4>
      <form>
        <div class="form-group row mx-2 mt-2">

          <!--Title-->

          <label for="title1" class="text-center col-form-label">
            Title </label>
          <input [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="title"
                 id="title1"
                 class="form-control"
                 placeholder="E.g. Software Engineering Intern">

          <!--Company-->

          <label for="company1" class="text-center col-form-label">
            Company </label>
          <input [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="company"
                 id="company1"
                 class="form-control"
                 placeholder="E.g. Google">

          <!--Location-->

          <label for="location1" class="text-center col-form-label">
            Location </label>
          <input [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="location"
                 id="location1"
                 class="form-control"
                 placeholder="Location">

        </div>
        <!--Dates-->

        <div class="form-group row mt-2">
          <div class="col">
            <label class="text-center col-form-label">
              From </label>
            <select class="form-control"
                    [(ngModel)]="startMonth" name="startMonth">
              <option *ngFor="let month of months" [ngValue]="month"
                      [disabled]="disableMonth(month)">{{month}}</option>
            </select>
            <select class="form-control mt-3" name="startYear"
                    [(ngModel)]="startYear">
              <option *ngFor="let year of years" [ngValue]="year"
                      [disabled]="disableYear(year)">{{year}}</option>
            </select>
          </div>

          <div class="col">
            <label class="text-center col-form-label">
              To </label>
            <span [hidden]=!defaultAddOnGoing> <br/> Present </span>
            <select class="form-control" [hidden]=defaultAddOnGoing [(ngModel)]="endMonth" name="endMonth">
              <option *ngFor="let month of months" [ngValue]="month"
                      [disabled]="disableMonth(month)">{{month}}</option>
            </select>
            <select class="form-control mt-3" [hidden]=defaultAddOnGoing
                    [(ngModel)]="endYear" name="endYear">
              <option *ngFor="let year of years" [ngValue]="year"
                      [disabled]="disableYear(year)">{{year}}</option>
            </select>
          </div>
        </div>


        <div class="custom-control custom-checkbox form-group row mx-2 mb-1">
          <input type="checkbox" class="custom-control-input" id="check1"
                 [checked]="defaultAddOnGoing" (change)="checkAddStatus(defaultAddOnGoing)" name="defaultAddOnGoing">
          <label class="custom-control-label" for="check1">I presently work here.</label>
        </div>

        <!--Description-->

        <div class="form-group row mx-2">
          <label for="desc1" class="text-center col-form-label">
            Description </label>
          <textarea [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="description"
                    id="desc1"
                    class="form-control"
                    rows="4"
                    placeholder="">
          </textarea>


          <button id="createBtn"
                  class="btn btn-block mt-3"
                  style="color: white; background-color: orange"
                  (click)="create()">
            Add Experience
          </button>
          <button id="cancelBtn"
                  class="btn btn-secondary btn-block mt-2"
                  (click)="cancelAdd()">
            Cancel
          </button>
        </div>
      </form>
    </li>
    <li class="list-group-item" *ngFor="let experience of experiences">
      <!--<i class="float-right btn btn-light fas fa-angle-down"></i>-->
      <span style="font-size: 28px; font-weight: bold; color:black;"> {{experience.title}} </span> <br/>
      <span style="font-size: 22px; font-weight: normal; color:black;"> {{experience.company}} </span> <br/>
      <span style="font-size: 22px; font-weight: normal; color:black;"> {{experience.location}} </span> <br/>
      <div [ngSwitch]="experience.ongoingStatus">
        <span style="font-size: 20px; font-weight: normal; color:gray;" *ngSwitchCase="'true'">
        {{experience.startDate.month}} {{experience.startDate.year}}&nbsp;&nbsp;-&nbsp;&nbsp;Present
      </span>
        <span style="font-size: 20px; font-weight: normal; color:gray;" *ngSwitchCase="'false'">
        {{experience.startDate.month}} {{experience.startDate.year}} &nbsp;&nbsp;-&nbsp;&nbsp;{{experience.endDate.month}} {{experience.endDate.year}}
      </span>
      </div>
      <p class="border-top pt-1 mt-1" style="white-space: pre-line; font-size: 22px; border-top-color: #5a6268">
        {{experience.description}}
      </p>
    </li>

  </ul>
</div>

