<div class="card rounded shadow">
  <div class="card-header">
    <button class="btn btn-outline-primary rounded float-right"><i class="fas fa-plus"></i></button>
    <h3> Projects </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <i class="float-right btn btn-light fas fa-angle-down"></i>
      Project 1
    </li>
    <li class="list-group-item">
      <i class="float-right btn btn-light fas fa-angle-down"></i>
      Project 2
    </li>
    <li class="list-group-item">
      <i class="float-right btn btn-light fas fa-angle-down"></i>
      Project 3
    </li>
    <li class="list-group-item">
      <i class="float-right btn btn-light fas fa-angle-down"></i>
      Project 4
    </li>
    <li class="list-group-item">
      <i class="float-right btn btn-light fas fa-angle-down"></i>
      Project 5
    </li>
  </ul>
</div>
