<div class="row">
  <div class="ml-3">
    <app-user-sidebar></app-user-sidebar>
  </div>
  <div class="col">
    <div class="row bg-dark p-3 mx-2">
      <div class="col-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id=""><i class="fa fa-search"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Keyword or Title" aria-label="Keyword or Title"
                 aria-describedby="basic-addon1" [(ngModel)]="keywordOrTitle" name="keywordOrTitle">
        </div>
      </div>
      <div class="col-5">
        <div class="input-group">
          <div class="input-group-prepend ">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
          </div>
          <input type="text" autocomplete="off" class="form-control dropdown-toggle" id="dropdownMenuLink"
                 placeholder="Location" aria-label="Location"
                 aria-describedby="basic-addon1" [(ngModel)]="location"
                 name="location" data-toggle="dropdown">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div *ngFor="let state of states | searchFilter: getInputVal()" (click)="setVal(state)"
                 class="dropdown-item">{{state}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 ">
        <button class="btn btn-primary float-right btn-block"
                routerLink="/job-list/{{location!='' && location!=null ? location:' '}}/{{keywordOrTitle!='' &&
              keywordOrTitle!=null? keywordOrTitle: ' '}}">Search
        </button>
      </div>
    </div>

    <div id="myGroup">
      <div class="row mx-2 p-3 mt-3 bg-white border bounceOutUp shadow">
        <div class="col stats text-center text-muted">
          <a class="float-right mx-3 btn p-0 stats"
             data-toggle="collapse" data-parent="#myGroup" data-target="#SavedJob">Saved Job</a>
          <span class="text-danger float-right"
          >{{jobsSaved}}</span>
          <span class="text-danger float-left"
          >{{jobsApplied}}</span><a class="float-left mx-3 btn p-0 stats" data-toggle="collapse"
                                    data-target="#Applied">Applied Jobs</a>
        </div>
      </div>
      <div class="collapse row mx-2 mt-3 bg-white border bounceOutUp shadow" data-parent="#myGroup" id="SavedJob">
        <div class="col-12 text-muted ">
          <div class="row stats text-center border-bottom bg-dark text-light">
            <div class="col p-2">Saved Jobs</div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row mx-2 p-2 my-3 bg-white border" *ngFor="let job of savedApplication">
                <div class="col-10">
                  <div class="row text-dark">
                    <div class="col-6">
                      <h5 style="color: rgba(0,123,255,0.85);">
                        <a routerLink="view-job/{{job.id}}|{{job.jobSource}}">{{job.title}}</a></h5>
                    </div>
                    <div class="col-4 text-right">
                      <h6>{{job.location}}</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 "><h6>{{job.company}}</h6></div>
                    <div class="col-4 text-right ">
                      <small>Saved on: {{job.dateApplied}}</small>
                    </div>
                  </div>
                </div>
                <div class="col-2 float-left">
                  <button class="btn float-left btn-success p-0 p-1 mr-1" (click)="applyJob(job);">Apply</button>
                  <button class="btn float-left btn-danger p-0 p-1" (click)="deleteJobId(job)">UnSave</button>
                </div>
                <!--</div>-->
                <!--<div class="col-1 float-left">-->
                <!---->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row collapse mx-2 mt-3 bg-white border bounceOutUp shadow" data-parent="#myGroup" id="Applied">
        <div class="col-12 text-muted ">
          <div class="row stats text-center border-bottom bg-dark text-light">
            <div class="col p-2">Applied Jobs</div>
          </div>
          <div class="row ">
            <div class="col">
              <div class="row mx-2 p-2 m-3 bg-white border" *ngFor="let job of appliedApplication">
                <div class="col-12">
                  <div class="row text-dark">
                    <div class="col-8">
                      <h5 style="color: rgba(0,123,255,0.85);">
                        <a routerLink="view-job/{{job.id}}|{{job.jobSource}}">{{job.title}}</a></h5>
                    </div>
                    <div class="col-4 text-right">
                      <h6>{{job.location}}</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8"><h6>{{job.company}}</h6></div>
                    <div class="col-4 text-right">
                      <small>Applied on: {{job.dateApplied}}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div id="myGroup2">
    <div class="row mx-2 p-3 mt-3 bg-white border bounceOutUp shadow">
      <div class="col stats text-center text-muted">
        <a class="mx-3 btn p-0 stats"
           data-toggle="collapse" data-parent="#myGroup2" data-target="#Premium">Checkout Premium Membership Feature!</a>
      </div>
    </div>
    <div class="collapse row mx-2 mt-3 bg-white border bounceOutUp shadow" data-parent="#myGroup" id="Premium">
      <div class="col-12 text-muted ">
        <div class="row stats text-center border-bottom bg-dark text-light"
             [hidden]="user.premiumRequestStatus !== 'Verified' ">
          <div class="col p-2">Recruiters Contacts</div>
        </div>

        <div class="row stats text-center border-bottom bg-dark text-light"
             [hidden]="user.premiumRequestStatus !== undefined">
          <div class="col p-2">Join Premium Membership to get contact details of recruiters.</div>

        </div>

        <div class="row stats text-center border-bottom bg-dark text-light"
             [hidden]="user.premiumRequestStatus !== 'Pending'">
          <div class="col p-2">Premium request pending with Admin.</div>

        </div>

        <div class="row" [hidden]="user.premiumRequestStatus !== undefined">
          <div class="col">
            <div class="row">
              <div class="col text-center">
                <span class="stats  mr-3">Join Premium Membership for free for a month.</span>
              </div>
            </div>
            <div class="row mx-2 p-2 my-3 bg-white ">

              <button class="btn btn-success btn-block" (click)="addPremium()">Join Premium Membership</button>
            </div>
          </div>
        </div>
        <div class="row" [hidden]="user.premiumRequestStatus !== 'Verified' ">
          <div class="col">
            <div class="row mx-2 p-2 my-3 bg-white border" *ngFor = "let rec of recruiters">
               <div class="col">{{rec.username}}</div>
               <div class= "col">{{rec.email}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
