<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="text-center">
    Welcome to "Jobs-in-sync" !
  </h1>
  <h3 class="text-center">
    Experience the synergy between recruiting and job hunting. <br>
    This is the sweet spot where everyone finds what they are looking for.
    "Recruiters, discover the ideal candidates!"
    "Job Seekers, go grab your dream jobs!"
  </h3>
  <hr/>
  <h3 class="text-center">
    We at Jobs-in-sync, believe .... (OUR Ethos, motto, vision)
  </h3>

  <h5>
    Just remember, have fun along the way.
    <br>
    + some more stuff like this.
  </h5>

  <img width="300" alt="Search animation" src="https://cdn.dribbble.com/users/604032/screenshots/2675111/1.gif"
       class="rounded shadow">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="#">Discover awesome applicants</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="#">Explore Jobs</a></h2>
  </li>
</ul>

<h3>
  Demos
</h3>
<hr/>
<p>
  Bootstrap gif carousal describing how to use job search over job listings from various sources
</p>


