<nav class="navbar navbar-expand-lg  fixed-top navbar-dark bg-dark">

  <a class="navbar-brand " href="#"><i class="fa fa-bullhorn fa-4x"></i></a>
  <a class="navbar-brand " href="#"><h1 class="title">Job Portal</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item my-1">
        <a class="btn btn-outline-light font-weight-light ml-3" [routerLinkActive]="['active']" routerLink="/home" >Home </a>
        <!--<span class="sr-only">(current)</span>-->
      </li>
      <li class="nav-item my-1">
        <a class="btn btn-outline-light font-weight-light ml-3" [routerLinkActive]="['active']"
           routerLink="/job-list/{{' '}}/{{' '}}">Jobs</a>
      </li>

      <li class="nav-item my-1">

        <a [hidden]="!(user != null && user.role === 'JobSeeker')" class="btn btn-outline-light
        font-weight-light ml-3"
           [routerLinkActive]="['active']" routerLink="/profile-seeker" >Profile</a>
      </li>
      <li class="nav-item my-1">
        <a [hidden]="!(user != null && user.role === 'Recruiter')" class="btn btn-outline-light
        font-weight-light ml-3"
           [routerLinkActive]="['active']" routerLink="/profile-recruiter" >Profile</a>
      </li>
      <li class="nav-item my-1">
        <a [hidden]="!(user != null && user.role === 'JobSeeker')" class="btn btn-outline-light
        font-weight-light ml-3"
           [routerLinkActive]="['active']" routerLink="/dashboard-seeker" >Dashboard</a>
      </li>
      <li class="nav-item my-1">
        <a [hidden]="!(user != null && (user.role === 'Recruiter' || user.role === 'Admin' ))"
           class="btn btn-outline-light
        font-weight-light ml-3"
           [routerLinkActive]="['active']" routerLink="/dashboard-recruiter" >Dashboard</a>
      </li>
      <li class="nav-item my-1">
        <a [hidden]="!(user != null && user.role === 'Admin')" class="btn btn-outline-light
         font-weight-light ml-3"
           [routerLinkActive]="['active']" routerLink="/admin" >Admin</a>
      </li>

    </ul>
    <ul class="navbar-nav float-right">
      <li class="nav-item my-1">
        <h5 [hidden]="user===null"class="text-light my-1 mx-3"><i [hidden]="user===null" class="fa fa-user text-light"></i>
          {{user!=null && user.username}}</h5>
      </li>
      <li class="nav-item my-1">
        <button [hidden]="user===null" class="btn btn-outline-light
       font-weight-light ml-3" (click)="logout()"
                type="button">Logout</button>
      </li>
      <li class="nav-item my-1">
        <button [hidden]="!(user === null)" class="btn btn-outline-light
       font-weight-light ml-3" routerLink="/login" [routerLinkActive]="['active']"
                type="button">Login</button>
      </li>

      <li class="nav-item my-1">
        <button class="btn btn-outline-light
      font-weight-light ml-3" routerLink="/register" [routerLinkActive]="['active']"
                type="button">Sign Up</button>
      </li>
    </ul>
  </div>
</nav>
<div class="cont">
  <router-outlet (activate)="sessionCheck()" ></router-outlet>
</div>



