<div class="rounded bg-light p-5 background-pic">
  <h1 class=" text-center text-light rounded shadow p-2 mb-4 heading">Job Listings
  </h1>
  <div class="row mb-5">
    <div class="col-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id=""><i class="fa fa-search"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Keyword or Title" aria-label="Keyword or Title"
               aria-describedby="basic-addon1" [(ngModel)]="keywordOrTitle" name="keywordOrTitle">
      </div>
    </div>
    <div class="col-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
        </div>
        <input type="text" autocomplete="off" class="form-control dropdown-toggle" id="dropdownMenuLink"
               placeholder="Location" aria-label="Location"
               aria-describedby="basic-addon1"
               [(ngModel)]="location" #stateSelect="ngModel"
               name="location" data-toggle="dropdown">
        <div class="dropdown-menu dropdown-menu-input float-right">
          <h6 class="dropdown-header">Select location</h6>
          <div class="dropdown-divider"></div>
          <div class="dropdown-item" *ngFor="let state of states | searchFilter: location"
               (click)="setVal(state); location='' ">{{state}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 m-0">
      <div class="btn-group">
        <button type="button" class="btn btn-light border-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <span style="color:gray;">Type:</span>
        </button>

        <div class="dropdown-menu">
          <h6 class="dropdown-header">Select Job Type</h6>
          <div class="dropdown-divider"></div>
          <div class="dropdown-item" *ngFor="let jobType of typeList"
               (click)="setJobType(jobType)">{{jobType}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 m-0">
      <div class="btn-group">
        <button type="button" class="btn btn-light border-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <span style="color:gray;">Company:</span>
        </button>

        <div class="dropdown-menu">
          <h6 class="dropdown-header">Select company</h6>
          <div class="dropdown-divider"></div>
          <div class="dropdown-item" *ngFor="let c of companyList"
               (click)="setCompany(c)">{{c}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-2 m-0">
    </div>
  </div>

  <div class="row mb-5">
    <ul class="nav nav-pills">
      <li class="nav-item" *ngFor="let item of filterItems; let i = index" [attr.data-index]="i">
        <div class="nav-link bg-white mx-3" href="#">
          {{item.val}}
          <i class="fa fa-times ml-3" (click)="removeItems(item,i)"></i>
        </div>
      </li>
    </ul>
  </div>

  <ul class="list-group">
    <li *ngFor="let job of jobs"
        class="list-group-item bg-light my-2 rounded shadow-sm">
      <div [hidden]="job.jobSource !== 'github' ">
        <div class="row text-dark">
          <div class="col-8">
            <h5 style="color: rgba(0,123,255,0.85);">
              <a routerLink="view-job/{{job.id}}|{{job.jobSource}}">{{job.title}}</a></h5>
          </div>
          <div class="col-4" style="text-align: right">
            {{job.location}}
          </div>
        </div>
        <div class="row">
          <div class="col-8">{{job.company}} | {{job.type}}</div>
          <div class="col-4" style="text-align: right">
            <small>Posted on: {{job.created_at}}</small>
          </div>
        </div>
      </div>

        <div [hidden]="job.jobSource === 'github' ">
          <div class="row text-dark">
            <div class="col-8">
              <h5 style="color: rgba(0,123,255,0.85);">
                <a routerLink="view-job/{{job._id}}|{{job.jobSource}}">{{job.title}}</a></h5>
            </div>
            <div class="col-4" style="text-align: right">
              {{job.location}}
            </div>
          </div>
          <div class="row">
            <div class="col-8">{{job.company}} | {{job.type}}</div>
            <div class="col-4" style="text-align: right">
              <small>Posted on: {{job.date}}</small>
            </div>
          </div>
        </div>
    </li>
  </ul>
</div>
<app-footer></app-footer>
