<div class="rounded bg-light p-5 background-pic">
  <h1 class="bg-transparent text-center text-light rounded shadow p-2 mb-4 heading" >Job Listings
  </h1>
  <div class="row mb-3">
    <div class="col-8 float-left">
      <input class="form-control" type="search" placeholder="Search jobs by keyword or title..."
             aria-label="Search" >

      </div>
      <div class="col-4">
        <button class="btn btn-light font-weight-bold float-right" type="submit">
          Search</button>

      <div class="btn-group float-right">
        <button type="button" class="btn btn-light border-secondary dropdown-toggle mr-3" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <span style="color:gray;">Type:</span> All
        </button>

        <div class="dropdown-menu float-right">
          <h6 class="dropdown-header">Select Job Type</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">All</a>
          <a class="dropdown-item" href="#">Full Time</a>
          <a class="dropdown-item disabled" href="#">Internship</a>
          <a class="dropdown-item disabled" href="#">Co-op</a>
          <a class="dropdown-item" href="#">Contract</a>
        </div>
      </div>

      <div class="btn-group float-right">
        <button type="button" class="btn btn-light border-secondary dropdown-toggle mr-3" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <span style="color:gray;">Company:</span> All
        </button>

        <div class="dropdown-menu float-right">
          <h6 class="dropdown-header">Select company</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">All</a>
          <a class="dropdown-item" href="#">Full Time</a>
          <a class="dropdown-item disabled" href="#">Internship</a>
          <a class="dropdown-item disabled" href="#">Co-op</a>
          <a class="dropdown-item" href="#">Contract</a>
        </div>
      </div>


      <div class="btn-group float-right">
        <button type="button" class="btn btn-light border-secondary dropdown-toggle mr-3" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <span style="color:gray;">Location:</span> All
        </button>

        <div class="dropdown-menu float-right">
          <h6 class="dropdown-header">Select location</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">All</a>
          <a class="dropdown-item" href="#">Full Time</a>
          <a class="dropdown-item disabled" href="#">Internship</a>
          <a class="dropdown-item disabled" href="#">Co-op</a>
          <a class="dropdown-item" href="#">Contract</a>
        </div>
      </div>


    </div>
  </div>
  <ul class="list-group">
    <li *ngFor="let job of jobs"
        class="list-group-item bg-light my-2 rounded shadow-sm">
      <div class="row text-dark">
        <div class="col-8">
          <h5 style="color: rgba(0,123,255,0.85);">{{job.title}}</h5>
        </div>
        <div class="col-4" style="text-align: right">
          {{job.location}}
        </div>
      </div>
      <div class="row">
        <div class="col-6">{{job.company}}</div>
      </div>

    </li>
  </ul>
  <nav class="mt-2">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
