<div class="row">
  <div class="ml-3">
    <app-user-sidebar></app-user-sidebar>
  </div>
  <div class="col">
    <div class="row bg-dark p-1 text-light text-center mx-2 mb-3">
      <div class="col">
        <h2>My Posted Jobs</h2>
      </div>
    </div>
    <div class="row mx-2 p-2 my-3 bg-white border bounceOutUp shadow">
      <div class="col stats text-muted">
        <span class="text-danger">{{jobPostings.length}}</span>
        <a class="mx-3 stats p-0"
           data-toggle="collapse" data-parent="#myGroup" data-target="#SavedJob">Jobs Posted</a>
        <i type="button" class="btn fa fa-plus btn-success float-right" data-toggle="modal"
           data-target="#exampleModalCenter">
        </i>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col mx-2">

      </div>
    </div>
    <div class="row" *ngFor="let job of jobPostings">
      <div class="col-10">
        <div class="row mx-2 p-2 my-3 bg-white border" >
          <div class="col">
            <div class="row text-dark">
              <div class="col-8">
                <h5 style="color: rgba(0,123,255,0.85);">
                  <a routerLink="view-job/{{job._id}}|{{job.jobSource}}">{{job.title}}</a></h5>
              </div>
              <div class="col-4 text-right">
                <h6>{{job.location}}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-8 "><h6>{{job.company}}</h6></div>
              <div class="col-4 text-right ">
                <small>Posted  on: {{ job.date}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 py-3 ">
        <i class="fa fa-trash float-left fa-4x btn ml-3" (click)="deleteJobPosting(job._id)"></i>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <form #form="ngForm">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add new Job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Job Title-->
        <input
          class="form-control mb-2"
          placeholder="Job Title" [(ngModel)]="jobPost.title" name="jobPost.title">

        <!--Company-->
        <input
          class="form-control mb-2"
          placeholder="Company" [(ngModel)]="jobPost.company" name="jobPost.company">

        <!--Location-->
        <input
          class="form-control mb-2"
          placeholder="Location" [(ngModel)]="jobPost.location" name="jobPost.location">

        <!--&lt;!&ndash; Date Posted &ndash;&gt;-->
        <!--<label for="dateposted" class="text-center col-form-label">-->
          <!--Date Posted</label>-->
        <!--<input type="date"-->
               <!--id="dateposted"-->
               <!--class="form-control">-->

        <hr>

        <h5 style="color:dimgrey;">Add more job details
          <i class="ml-3 btn btn-light fas fa-angle-down" (click)="addMoreDetails()"></i>
        </h5>

        <div [hidden]="!moreDetails">
          <div class="form-group">
            <label for="inputState">Job Type</label>
            <select id="inputState" class="form-control" [(ngModel)]="jobPost.type" name="jobPost.type">
              <option disabled>Choose one...</option>
              <option value="Full Time">Full Time</option>
              <option value="Contract">Contract</option>
              <option value="Internship">Internship</option>
              <option value="Coop">Coop</option>
            </select>
          </div>

          <!--<div class="form-group">-->
            <!--<label for="status">Status</label>-->
            <!--<select id="status" class="form-control" [(ngModel)]="jobPost && jobPost.status" name="jobPost.type">-->
              <!--<option disabled>Choose one...</option>-->
              <!--<option value="Fulltime">Positions open</option>-->
              <!--<option value="Contract">Closed</option>-->
            <!--</select>-->
          <!--</div>-->

          <!--Add Responsibilities-->
          <button class="btn btn-block btn-outline-primary"
                  (click)=" toggleRAddMode()">
            <i class="fas fa-plus"></i>&nbsp;&nbsp;Add Responsibilities
          </button>

          <div [hidden]="!rAddMode" class="form-row my-2">
            <div class="form-group col-md-10">
              <input type="text"
                     class="form-control my-1"
                     placeholder="Add a responsibility bullet ..."
                     [(ngModel)]="responsibility" name="responsibility">
            </div>

            <div class="form-group col-md-2 mt-1">
              <button class="btn btn-success" (click)="jobPost.responsibilities.push(responsibility)">
                <i class="fas fa-check"></i></button>
              &nbsp;
              <button class="btn btn-danger"
                      (click)="cancelAddR()">
                <i class="fas fa-times"></i></button>
            </div>
          </div>
          <div class="my-2">
            <h6 style="color: dimgrey;"> Responsibilities</h6>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let item of jobPost.responsibilities; index as i" [attr.data-index]="i">
                {{item}}
                <i class="btn fas fa-trash fa-2x float-right" (click)="jobPost.responsibilities.splice(i,1)"></i>
                <!--<button class="btn btn-primary float-right"><i class="fas fa-pencil-alt"></i></button>-->
              </li>
            </ul>
            <hr>
          </div>

          <!--Add Minimum Qualification Required-->
          <button class="btn btn-block btn-outline-primary"
                  (click)=" toggleQAddMode()">
            <i class="fas fa-plus"></i>&nbsp;&nbsp;Add Qualifications
          </button>

          <div [hidden]="!qAddMode" class="form-row my-2">
            <div class="form-group col-md-10">
              <input type="text"
                     class="form-control my-1"
                     placeholder="Add a minimum qualification ..."
                     [(ngModel)]="qualification" name="qualification">
            </div>

            <div class="form-group col-md-2 mt-1">
              <button class="btn btn-success" (click)="jobPost.minQualification.push(qualification)">
              <i class="fas fa-check"></i></button>
              &nbsp;
              <button class="btn btn-danger"
                      (click)="cancelAddQ()"><i class="fas fa-times"></i></button>
            </div>
          </div>

          <div class="my-2">
            <h6 style="color: dimgrey;"> Minimum Qualifications</h6>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let item of jobPost.minQualification; index as i" [attr.data-index]="i">
                {{item}}
                <i class="btn fas fa-trash fa-2x float-right" (click)="jobPost.minQualification.splice(i,1)"></i>
                <!--<button class="btn btn-primary float-right"><i class="fas fa-pencil-alt"></i></button>-->
              </li>
            </ul>
            <hr/>
          </div>

          <!--Add Skills Required-->
          <button class="btn btn-block btn-outline-primary"
                  (click)=" toggleSAddMode()">
            <i class="fas fa-plus"></i>&nbsp;&nbsp;Add Required Skills
          </button>

          <div [hidden]="!sAddMode" class="form-row my-2">
            <div class="form-group col-md-10">
              <input type="text"
                     class="form-control my-1"
                     placeholder="Add a skill required for the job ..."
                     [(ngModel)]="skill" name="skill">
            </div>

            <div class="form-group col-md-2 mt-1">
              <button class="btn btn-success" (click)="jobPost.skillsRequired.push(skill)" >
                <i class="fas fa-check"></i></button>
              &nbsp;
              <button class="btn btn-danger"
                      (click)="cancelAddS()"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <div class="my-2">
            <h6 style="color: dimgrey;"> Required Skills</h6>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let item of jobPost.skillsRequired; index as i" [attr.data-index]="i">
                {{item}}
                <i class="btn fas fa-trash fa-2x float-right" (click)="jobPost.skillsRequired.splice(i,1)"></i>
                <!--<button class="btn btn-primary float-right"><i class="fas fa-pencil-alt"></i></button>-->
              </li>
            </ul>
            <hr/>
          </div>
          <div class="my-2">
            <button data-dismiss="modal" class="btn btn-block btn-success" (click)="saveJob(); form.reset()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
<app-footer></app-footer>

