<div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-lg btn-outline-primary shadow" data-toggle="modal"
          data-target="#exampleModalCenter">
    Add new Job
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add new Job</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--Job Title-->
          <input
            class="form-control mb-2"
            placeholder="Job Title">

          <!--Company-->
          <input
            class="form-control mb-2"
            placeholder="Company">

          <!--Location-->
          <input
            class="form-control mb-2"
            placeholder="Location">

          <!-- Date Posted -->
          <label for="dateposted" class="text-center col-form-label">
            Date Posted</label>
          <input type="date"
                 id="dateposted"
                 class="form-control">

          <hr>

          <h5 style="color:dimgrey;">Add more job details
            <i class="ml-3 btn btn-light fas fa-angle-down" (click)="addMoreDetails()"></i>
          </h5>

          <div [hidden]="!moreDetails">
            <div class="form-group">
              <label for="inputState">Job Type</label>
              <select id="inputState" class="form-control">
                <option disabled>Choose one...</option>
                <option value="Fulltime">Fulltime</option>
                <option value="Contract">Contract</option>
                <option value="Internship">Internship</option>
                <option value="Coop">Coop</option>
              </select>
            </div>

            <div class="form-group">
              <label for="status">Status</label>
              <select id="status" class="form-control">
                <option disabled>Choose one...</option>
                <option value="Fulltime">Positions open</option>
                <option value="Contract">Closed</option>
              </select>
            </div>

            <!--Dates-->

            <div class="form-group row mt-2">
              <div class="col">
                <label class="text-center col-form-label">
                  Start Date </label>
                <select class="form-control">
                  <option *ngFor="let month of months">{{month}}</option>
                </select>
                <select class="form-control mt-3">
                  <option *ngFor="let year of years">{{year}}</option>
                </select>
              </div>

              <div class="col">
                <label class="text-center col-form-label">
                  End Date </label>
                <select class="form-control">
                  <option *ngFor="let month of months">{{month}}</option>
                </select>
                <select class="form-control mt-3">
                  <option *ngFor="let year of years">{{year}}</option>
                </select>
              </div>
            </div>

            <!--Add Responsibilities-->
            <button class="btn btn-block btn-outline-primary"
                    (click)=" toggleRAddMode()">
              <i class="fas fa-plus"></i>&nbsp;&nbsp;Add Responsibilities
            </button>

            <div [hidden]="!rAddMode" class="form-row my-2">
              <div class="form-group col-md-10">
                <input type="text"
                       class="form-control my-1"
                       placeholder="Add a responsibility bullet ..."
                       [(ngModel)]="responsibility">
              </div>

              <div class="form-group col-md-2 mt-1">
                <button class="btn btn-success"><i class="fas fa-check"></i></button>
                &nbsp;
                <button class="btn btn-danger"
                        (click)="cancelAddR()"><i class="fas fa-times"></i></button>
              </div>
            </div>
            <div class="my-2">
              <h6 style="color: dimgrey;"> Responsibilities</h6>
              <ul>
                <li *ngFor="let item of responsibilities">
                  {{item}}
                  <button class="btn btn-primary float-right"><i class="fas fa-pencil-alt"></i></button>
                </li>
              </ul>
              <hr>
            </div>

            <!--Add Minimum Qualification Required-->
            <button class="btn btn-block btn-outline-primary"
                    (click)=" toggleQAddMode()">
              <i class="fas fa-plus"></i>&nbsp;&nbsp;Add Qualifications
            </button>

            <div [hidden]="!qAddMode" class="form-row my-2">
              <div class="form-group col-md-10">
                <input type="text"
                       class="form-control my-1"
                       placeholder="Add a minimum qualification ..."
                       [(ngModel)]="qualification">
              </div>

              <div class="form-group col-md-2 mt-1">
                <button class="btn btn-success"><i class="fas fa-check"></i></button>
                &nbsp;
                <button class="btn btn-danger"
                        (click)="cancelAddQ()"><i class="fas fa-times"></i></button>
              </div>
            </div>

            <div class="my-2">
              <h6 style="color: dimgrey;"> Minimum Qualifications</h6>
              <ul>
                <li *ngFor="let item of minQualifications">
                  {{item}}
                  <button class="btn btn-primary float-right"><i class="fas fa-times"></i></button>
                </li>
              </ul>
              <hr/>
            </div>

            <!--Add Skills Required-->
            <button class="btn btn-block btn-outline-primary"
                    (click)=" toggleSAddMode()">
              <i class="fas fa-plus"></i>&nbsp;&nbsp;Add Required Skills
            </button>

            <div [hidden]="!sAddMode" class="form-row my-2">
              <div class="form-group col-md-10">
                <input type="text"
                       class="form-control my-1"
                       placeholder="Add a skill required for the job ..."
                       [(ngModel)]="skill">
              </div>

              <div class="form-group col-md-2 mt-1">
                <button class="btn btn-success"><i class="fas fa-check"></i></button>
                &nbsp;
                <button class="btn btn-danger"
                        (click)="cancelAddS()"><i class="fas fa-times"></i></button>
              </div>
            </div>
            <div class="my-2">
              <h6 style="color: dimgrey;"> Required Skills</h6>
              <ul>
                <li *ngFor="let item of skillsRequired">
                  {{item}}
                  <button class="btn btn-primary float-right"><i class="fas fa-times"></i></button>
                </li>
              </ul>
              <hr/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
