<app-nav-bar></app-nav-bar>
<div class="container">
  <br>
  <br>
    <div class="card m-5">
      <div class="card-header">
        <!--<h3> Job-board Home page </h3>-->
        Job Board Home page
    </div>
    <div class="card-body">
      <h5 class="card-title">Jobs-in-sync</h5>
      <p class="card-text">
        This is the home page.
        <br>
        Add Home Page Content here.</p>
      <a href="#" class="btn btn-primary">Explore awesome Jobs</a>
      &nbsp;&nbsp;
      <a href="#" class="btn btn-success">Discover amazing candidates</a>
    </div>
    </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner rounded shadow-lg">
      <div class="carousel-item active">
        <img class="d-block w-100 rounded" src="../assets/demos/images/screen1.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 rounded" src="../assets/demos/images/screen2.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 rounded" src="../assets/demos/images/screen3.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 rounded" src="../assets/demos/images/screen4.jpg" alt="Fourth slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<br/><br/>
<app-footer></app-footer>

<!--HOME PAGE-->

<!--Home Page Content-->

<!--<div style="text-align:center">-->
<!--<h1 class="text-center">-->
<!--Welcome to "Jobs-in-sync" !-->
<!--</h1>-->
<!--<h3 class="text-center">-->
<!--Experience the synergy between recruiting and job hunting. <br>-->
<!--This is the sweet spot where everyone finds what they are looking for.-->
<!--"Recruiters, discover the ideal candidates!"-->
<!--"Job Seekers, go grab your dream jobs!"-->
<!--</h3>-->
<!--<hr/>-->
<!--<h3 class="text-center">-->
<!--We at Jobs-in-sync, believe .... (OUR Ethos, motto, vision)-->
<!--</h3>-->

<!--<h5>-->
<!--Just remember, have fun along the way.-->
<!--<br>-->
<!--+ some more stuff like this.-->
<!--</h5>-->

<!--<img width="300" alt="Search animation" src="https://cdn.dribbble.com/users/604032/screenshots/2675111/1.gif"-->
<!--class="rounded shadow">-->
<!--</div>-->
<!--<h2>Here are some links to help you start: </h2>-->
<!--<ul>-->
<!--<li>-->
<!--<h2><a target="_blank" rel="noopener" href="#">Discover awesome applicants</a></h2>-->
<!--</li>-->
<!--<li>-->
<!--<h2><a target="_blank" rel="noopener" href="#">Explore Jobs</a></h2>-->
<!--</li>-->
<!--</ul>-->

<!--<h3>-->
<!--Demos-->
<!--</h3>-->
<!--<hr/>-->
<!--<p>-->
<!--Bootstrap gif carousal describing how to use job search over job listings from various sources-->
<!--</p>-->

